.halo-bridge {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;

    .bridge-con {
        width: 100%;
        margin: 0 auto;
        padding-top: 30px;
    }

    .bridge-top {
        .top-title {
            height: 40px;
            font-size: 40px;
            font-weight: bold;
            color: #2b2b2b;
            line-height: 44px;
        }

        .top-text {
            margin-top: 10px;
            font-size: 16px;
            font-weight: 400;
            color: #2b2b2b;
            line-height: 22px;
        }
    }

    .bridge-cen {
        display: flex;
        margin-top: 31px;

        .cen-left {
            position: relative;
            box-sizing: border-box;
            flex-shrink: 0;
            width: 200px;
            height: 682px;
            padding: 41px 30px;
            background: #fff6f7;
            border-radius: 10px;
            margin-right: 20px;

            .cen-left-box1 {
                font-size: 16px;
                font-weight: 400;
                color: #807677;
                line-height: 22px;
            }

            .cen-left-box {
                margin-top: 40px;
            }

            .box-title {
                font-size: 14px;
                font-weight: 400;
                color: #807677;
                line-height: 16px;
            }

            .box-con {
                margin-top: 10px;
                font-size: 18px;
                font-weight: bold;
                color: #2b2b2b;
                line-height: 21px;
            }

            .bridge-side {
                width: 139px;
                position: absolute;
                bottom: 0;
                left: 0;
            }
        }

        .cen-right {
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 682px;
            background: #fff;
            border-radius: 10px;
            border: 2px solid #fff6f7;
            padding: 60px 240px;

            .form-hd {
                margin-bottom: 10px;
                font-size: 16px;
                font-weight: 600;
                color: #b5b1b1;
                line-height: 22px;
            }

            .right-form {
                width: 100%;
            }

            .right-form-wrap {
                width: 100%;
                margin: 30px 0;
                display: flex;

                .right-form {
                    &.right-form:nth-last-child(1) {
                        margin-left: 20px;
                    }
                }
            }

            .right-sel {
                width: 100%;

                .ant-select-selector {
                    height: 44px;
                    line-height: 44px;
                    background: #fff;
                    border-radius: 4px;
                    border: 1px solid #ffd2d5;
                }

                .ant-select-selection-item {
                    height: 44px;
                    line-height: 44px;
                }
            }

            .right-inp {
                height: 44px;
                background: #fff;
                border-radius: 4px;
                border: 1px solid #ffd2d5;
            }

            .form-box {
                box-sizing: border-box;
                width: 240px;
                height: 105px;
                background: #fff;
                border-radius: 4px;
                border: 1px solid #ffd2d5;
                padding: 10px 15px;
            }

            .form-box-tp {
                display: flex;
                align-items: center;
            }

            .form-box-icon {
                width: 40px;
                margin-right: 10px;
            }

            .form-box-text {
                flex: 1;
                font-size: 16px;
                font-weight: 600;
                color: #2b2b2b;
                line-height: 19px;
            }

            .form-box-sel {
                cursor: pointer;
                width: 20px;
                height: 20px;
            }

            .form-btn {
                margin-top: 10px;
                margin-left: 27px;
            }

            .form-box-bt {
                margin-top: 10px;
                width: 100%;
                padding-top: 4px;
                border-top: 1px solid rgba(255, 210, 213, 1);
                font-size: 16px;
                font-weight: 400;
                color: #ccc;
            }

            .bt-inp {
                border: 1px solid #fff;
            }

            .bt-inp.ant-input:focus,
            .ant-input-focused {
                box-shadow: none;
            }

            .con-btn {
                margin-top: 40px;
                margin-bottom: 20px;
            }

            .right-bt {
                font-size: 14px;
                font-weight: 400;
                color: #b5b1b1;
                line-height: 20px;
            }

            .right-bt-text {
                margin-bottom: 10px;
            }
        }
    }
}

.from-modal {
    .ant-modal-content {
        width: 400px;
        height: 232px;
        background: #fff;
        border-radius: 10px;
    }
    .right-sel {
        width: 100%;

        .ant-select-selector {
            height: 44px;
            line-height: 44px;
            background: #fff;
            border-radius: 4px;
            border: 1px solid #ffd2d5;
        }

        .ant-select-selection-item {
            height: 44px;
            line-height: 44px;
        }
    }

    .right-inp {
        margin-top: 10px;
        height: 44px;
        background: #fff;
        border-radius: 4px;
        border: 1px solid #ffd2d5;
    }

    .modal-bt {
        margin-top: 30px;
        display: flex;
        justify-content: flex-end;
    }

    .btn-m {
        width: 180px;
        height: 44px;
        background: #b1232c;
        border-radius: 4px;
    }

    .btn-m-w {
        margin-right: 30px;
        color: #b1232c;
        line-height: 44px;
    }
}
