.halo-home {
  position: relative;
  width: 100%;
  overflow-x: hidden;

  .bg1-img {
    position: absolute;
    top: 0;
    left: 700px;
    z-index: -2;
  }

  .gold-coins-img {
    position: absolute;
    top: 86px;
    right: 24px;
    width: 708px;
    z-index: -1;
  }

  .home-con {
    width: 1200px;
    margin: 0 auto;
    padding-top: 40px;
  }

  .introduce-con {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 400px;



    .introduce-word {
      z-index: 1;
      padding-top: 117px;
      // width: 620px;
    }

    .introduce-title {
      font-size: 40px;
      font-weight: 700;
      color: rgba(43, 43, 43, 1);
    }

    .introduce-text {
      margin-top: 25px;
      font-size: 14px;
      color: #807677;
      line-height: 20px;
    }
  }

  .guide-con {
    box-sizing: border-box;
    display: flex;
    width: 1200px;
    height: 225px;
    background: #2b2b2b;
    border-radius: 10px;
    padding-left: 43px;
    padding-right: 27px;
    position: relative;

    .bg_light {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 140px;
      height: 137px;
    }

    .guide-card {
      flex: 1;
      padding-top: 35px;

      .guide-title {
        font-size: 24px;
        font-weight: bold;
        color: #fff;
        line-height: 29px;
      }

      .guide-text {
        margin-top: 16px;
        font-size: 14px;
        font-weight: 400;
        color: rgba(255, 255, 255, 0.4);
        line-height: 20px;
      }

      .guide-text2 {
        margin-top: 4px;
        font-size: 14px;
        font-weight: 400;
        color: #fff;
        line-height: 20px;
      }
    }

    .guide-card2 {
      width: 197px;

      .guide-title2 {
        font-size: 16px;
        font-weight: 600;
        color: #fff;
        line-height: 22px;
      }

      .guide-text3 {
        margin-top: 10px;
        font-size: 14px;
        color: rgba(255, 255, 255, 0.4);
      }

      .click-btn {
        margin-top: 30px;
        width: 160px;
        height: 44px;
        background: #B1232C;
        border-radius: 4px;
        color: #fff;
        border: none;
        font-size: 16px;
        line-height: 44px;
        box-sizing: border-box;
        padding: 0;
      }

      .click-btn2 {
        margin-top: 80px;
        width: 160px;
        height: 44px;
        background: rgba(255, 255, 255, 0.1);
        border-radius: 4px;
        color: rgba(255, 255, 255, 0.4);
        border-color: rgba(255, 255, 255, 0.1);
        font-size: 16px;
        line-height: 44px;
        box-sizing: border-box;
        padding: 0;
      }
    }
  }

  .bridge-con-wrap {
    position: relative;
    width: 100%;

    .home-left-img {
      position: absolute;
      top: 0;
      left: 0;
      width: 252px;
    }

    .home-left-img2 {
      position: absolute;
      bottom: -60px;
      right: 0;
      width: 126px;
      transform: rotate(180deg);
    }
  }

  .bridge-con {
    padding-top: 80px;
    width: 100%;
    margin: 0 auto;

    .click-btn {
      margin-top: 30px;
      width: 160px;
      height: 44px;
      background: #B1232C;
      border-radius: 4px;
      color: #fff;
      border: none;
    }

    .bridge-hd {
      display: flex;
      flex-direction: column;
      align-items: center;

      .bridge-line {
        width: 90px;
        height: 6px;
        background: #2b2b2b;
      }

      .bridge-title {
        margin-top: 30px;
        height: 43px;
        font-size: 36px;
        font-weight: bold;
        line-height: 43px;
        color: #2b2b2b;
      }

      .bridge-text {
        margin-top: 20px;
        width: 731px;
        height: 66px;
        font-size: 16px;
        line-height: 22px;
        text-align: center;
      }

      .introduce-text-red {
        font-weight: 600;
        color: rgba(177, 35, 44, 1);
      }
    }

    .bridge-bt {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 44px;

      .bg2-img {
        width: 960px;
      }

      .con-btn {
        margin-top: -22px;
        font-size: 16px;
      }
    }
  }

  .down-wrap {
    margin-top: 120px;
    width: 100%;
    // height: 370px;
    background-color: rgba(255, 246, 247, 1);

    .down-con {
      position: relative;
      display: flex;
      width: 1200px;
      margin: 0 auto;

      .hide {
        display: block;
      }
    }

    .down-title {
      position: absolute;
      top: -20px;
      left: 0;
      font-size: 36px;
      font-weight: bold;
      color: #2b2b2b;
      line-height: 43px;
    }

    .down-left {
      display: flex;
    }

    .app-ex-img {
      margin-top: 50px;
      width: 200px;
      height: 320px;
    }

    .down-left-sup {
      margin-top: 64px;
      margin-left: 41px;
    }

    .mm-logo-img {
      width: 344px;
    }

    .sup-text {
      margin-top: 18px;
      margin-bottom: 24px;
      font-size: 20px;
      font-weight: 600;
      color: #807677;
      line-height: 28px;
    }

    .sup-app {
      display: flex;
      width: 160px;
      height: 44px;
      background: #161616;
      border-radius: 4px;
      color: #fff;
    }

    .down-img {
      width: 160px;
      margin-right: 10px;
      margin-bottom: 10px;
    }

    .down-line {
      margin: 40px 0;
      // margin-left: 66px;
      width: 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
    }

    .down-line-l {
      width: 2px;
      height: 110px;
      background: rgba(216, 216, 216, 0.5);
    }

    .down-line-t {
      font-size: 30px;
      font-weight: bold;
      color: #aaa;
      line-height: 36px;
    }

    .down-right {
      display: block;
    }

    .hashpay-img {
      width: 459px;
      margin-top: 50px;
    }
  }
}



@media (min-width: 300px) and (max-width:768px) {
  .halo-home {
    padding: 0;

    .guide-con {
      flex-wrap: wrap;
      height: 100vh;
      width: unset;
      flex-direction: column;
      border-radius: 0;
      padding-left: 0.8rem;
      padding-right: 0.8rem;

      .bg_light {
        width: 4.76rem;
        height: 4.64rem;
      }

      .guide-card-line {
        width: 0.32rem;
        margin: 0.36rem 0;
        height: 1.72rem;
      }

      .guide-card {
        height: fit-content;
        padding: 0;
        flex: unset;

        &.guide-card2 {
          width: 100%;
          flex: unset;

          .click-btn {
            width: 5.2rem;
            height: 1.6rem;
            background: #B1232C;
            border-radius: 0.16rem;
            font-size: 0.64rem;
            margin-top: 0;
          }

          .click-btn2 {
            width: 5.2rem;
            height: 1.6rem;
            border-radius: 0.16rem;
            opacity: 0.1;
            font-size: 0.64rem;
            color: rgba(255, 255, 255, 0.4);
            margin-top: 0;
            // background-color: rgba(255, 255, 255, 0.1);
          }
        }

        .guide-title2 {
          font-size: 0.72rem;
          font-weight: bold;
          line-height: 1rem;
        }

        .guide-title {
          font-size: 1.2rem;
          font-weight: 600;
          line-height: 1.44rem;
          margin-bottom: 0.48rem;
          margin-top: 1.08rem;
        }

        .guide-text {
          font-size: 0.64rem;
          font-weight: 400;
          line-height: 0.88rem;
        }

        .guide-text2 {
          font-size: 0.64rem;
          font-weight: 600;
          line-height: 0.88rem;
          padding-bottom: 1.6rem;
          border-bottom: 0.16rem solid rgba(255, 255, 255, 0.2);
          width: fit-content;
          margin-bottom: 1.6rem;
        }

        .guide-text3 {
          font-size: 0.56rem;
          font-weight: 400;
          color: rgba(255, 255, 255, 0.4);
          line-height: 0.8rem;
        }

      }
    }

    .section {
      position: relative;
    }
    .m_scroll{
      position: absolute;
      bottom: 0.36rem;
      width: 0.88rem;
      height: 0.8rem;
      left: 50%;
      margin-left:-0.44rem;
      z-index: 9999;
      animation: moveTopDown 0.8s infinite;
    }
    @keyframes moveTopDown {
      0%{
        bottom: 0.36rem;
      }
      50%{
        bottom: 0.46rem;
      }
      100%{
        bottom: 0.56rem;
      }
    }

    .home-con {
      width: 100%;
      padding: 0 0.8rem;
    }

    .m_bg_2 {
      position: fixed;
      top: 0;
      right: 0;
      height: 5.64rem;
      width: 4.04rem;
    }

    .m_bg_1 {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 15rem;
      height: 11.76rem;
    }

    .m_bg_system {
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: 99;
      height: 8.88rem;
      width: 12.48rem;
    }

    .introduce-con {
      .introduce-word {
        padding-top: 4.66rem;

        .introduce-title {
          font-size: 1.12rem;
          color: #2B2B2B;
          line-height: 1.36rem;
          margin-bottom: 0.8rem;
        }

        .midline {
          width: 3.6rem;
          height: 0.16rem;
          background: #2B2B2B;
        }

        .introduce-text {
          font-size: 0.64rem;
          color: #807677;
          line-height: 0.88rem;
          margin-top: 0.93rem;
        }
      }

    }

    .section3 {
      position: relative;

      .m_bg_3 {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 14.16rem;
        height: 4.84rem;
      }

      .bridge-con-wrap {
        padding: 0 0.8rem;


        .bridge-con {
          padding-bottom: 0.8rem;

          .bridge-hd {
            .bridge-title {
              font-size: 1.2rem;
              font-weight: 600;
              color: #2B2B2B;
              line-height: 1.44rem;
              margin-bottom: 0.8rem;
              margin-top: 0;
            }

            .bridge-title-line {
              width: 3.6rem;
              height: 0.16rem;
              background: #2B2B2B;
              margin-bottom: 0.8rem;
            }

            .bridge-text {
              font-size: 0.64rem;
              font-weight: 400;
              color: #2B2B2B;
              line-height: 0.88rem;
              margin-bottom: 1.16rem;
              margin-top: 0;
              height: fit-content;

              .introduce-text-red {
                color: #2B2B2B;
                font-weight: normal;
              }
            }
          }

          .bridge-bt {
            .bg2-img {
              width: 100%;
              height: 8.04rem;
              margin-bottom: 1rem;
            }

            .con-btn {
              width: 6.4rem;
              height: 1.76rem;
              background: #B1232C;
              border-radius: 0.16rem;
              margin: 0;
              font-size: 0.64rem;
            }
          }
        }
      }
    }

    .down-wrap {
      background: #fff;

      .down-con {
        height: 100vh;
        flex-direction: column;
        width: 100%;
        position: relative;

        .m_bg_4 {
          position: absolute;
          bottom: 0;
          right: 0;
          width: 12.52rem;
          height: 2.76rem;
        }

        .down-title {
          font-size: 1.2rem;
          font-weight: bold;
          color: #FFFFFF;
          line-height: 1.44rem;
          background-color: #B1232C;
          width: 100%;
          padding: 0.8rem;
          position: static;
        }

        .tabBox {
          background-color: #B1232C;
          padding: 0 0.8rem;
          padding-bottom: 0.8rem;

          .content {
            width: 100%;
            border-radius: 0.16rem;
            border: 0.04rem solid #FFFFFF;
            background-color: #fff;
            height: 1.76rem;

            .item {
              height: 100%;
              width: 50%;

              .icon {
                width: 4.84rem;
                height: 0.96rem;
              }

              &.active {
                background-color: #B1232C;
              }

              &.leftItem {
                border-radius: 0.16rem 0 0 0.16rem;
              }

              &.rightItem {
                border-radius: 0 0.16rem 0.16rem 0;
              }
            }
          }
        }

        .downBox {
          padding: 0 0.8rem;

          .hide {
            display: none;
          }
        }

        .down-left {

          .app-ex-img {
            height: 12.84rem;
            width: 6.4rem;
            margin-top: 2rem;
          }

          .down-left-sup {
            width: 5.04rem;
            height: 2.6rem;
            margin-bottom: 0.9rem;
            margin-top: 2rem;
            margin-left: 0;
            display: flex;
            flex-direction: column;
            justify-content: end;
            align-items: center;
            width: 100%;

            .m_mm_logo {
              width: 5.04rem;
              height: 2.6rem;
            }
          }

          .sup-text {
            font-size: 0.56rem;
            font-weight: 400;
            color: #807677;
            line-height: 0.64rem;
            margin-bottom: 0.8rem;
            margin-top: 0.9rem;
            text-align: center;
          }

          .down-img {
            width: 6.4rem;
            height: 1.76rem;
            border-radius: 0;
            margin-bottom: 0.4rem;
            margin-right: 0;
            margin-left: 0.6rem;
          }
        }

        .down-right {
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center;

          .hashpay-img {
            width: 11.4rem;
            height: 12.84rem;
            margin-bottom: 0.8rem;
            margin-top: 0.8rem;
            margin-right: 0;
          }

          .click-btn {
            width: 6.4rem;
            height: 1.76rem;
            background: #B1232C;
            border-radius: 0.16rem;
            margin: 0;
            font-size: 0.64rem;
            color: #fff;
          }
        }
      }
    }

    .section5 {
      .footerPart {
        height: 100vh;
        .topPart {
          flex: 1;
          padding:0 0.8rem;
          .m_connectlogo {
            width: 4.28rem;
            height: 4.88rem;
            margin-bottom: 1.56rem;
          }

          .line {
            width: 3.6rem;
            height: 0.16rem;
            background: #2B2B2B;
            margin-bottom: 1.2rem;
          }

          .minText {
            font-size: 1.2rem;
            font-weight: 600;
            color: #2B2B2B;
            line-height: 1.44rem;
          }


        }

        

        .lastPart {
          height: 8.56rem;
          background: #B1232C;
          width: 100%;
          padding:0 2.2rem;
          position: relative;
          .iconsBox{
            margin-top: -1.16rem;
          }
          .footerText {
            font-size: 0.56rem;
            font-weight: 400;
            color: #FFFFFF;
            line-height: 0.8rem;
            position: absolute;
            left: 1.8rem;
            bottom: 0.8rem;
          }
          .item {
            img {
              width: 2.32rem;
              height: 2.32rem;
              margin-bottom: 0.16rem;
            }

            p {
              font-size: 0.64rem;
              font-weight: 400;
              color: #FFFFFF;
              line-height: 0.88rem;
            }
          }
        }
      }
    }
  }
}
