.halo-home {
  position: relative;
  width: 100%;
  overflow-x: hidden;
}
.halo-home .bg1-img {
  position: absolute;
  top: 0;
  left: 700px;
  z-index: -2;
}
.halo-home .gold-coins-img {
  position: absolute;
  top: 86px;
  right: 24px;
  width: 708px;
  z-index: -1;
}
.halo-home .home-con {
  width: 100%;
  margin: 0 auto;
  padding-top: 40px;
}
.halo-home .introduce-con {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 400px;
}
.halo-home .introduce-con .introduce-word {
  z-index: 1;
  padding-top: 117px;
}
.halo-home .introduce-con .introduce-title {
  font-size: 40px;
  font-weight: 700;
  color: #2b2b2b;
}
.halo-home .introduce-con .introduce-text {
  margin-top: 25px;
  font-size: 14px;
  color: #807677;
  line-height: 20px;
}
.halo-home .guide-con {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  height: 225px;
  background: #2b2b2b;
  border-radius: 10px;
  padding-left: 43px;
  padding-right: 27px;
}
.halo-home .guide-con .guide-card {
  flex: 1;
  padding-top: 35px;
}
.halo-home .guide-con .guide-card .guide-title {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  line-height: 29px;
}
.halo-home .guide-con .guide-card .guide-text {
  margin-top: 16px;
  font-size: 14px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.4);
  line-height: 20px;
}
.halo-home .guide-con .guide-card .guide-text2 {
  margin-top: 4px;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  line-height: 20px;
}
.halo-home .guide-con .guide-card2 {
  width: 197px;
}
.halo-home .guide-con .guide-card2 .guide-title2 {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  line-height: 22px;
}
.halo-home .guide-con .guide-card2 .guide-text3 {
  margin-top: 10px;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.4);
}
.halo-home .guide-con .guide-card2 .click-btn {
  margin-top: 30px;
  width: 160px;
  height: 44px;
  background: #B1232C;
  border-radius: 4px;
  color: #fff;
  border: none;
}
.halo-home .guide-con .guide-card2 .click-btn2 {
  margin-top: 80px;
  width: 160px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.4);
  border-color: rgba(255, 255, 255, 0.1);
}
.halo-home .bridge-con-wrap {
  position: relative;
  width: 100%;
}
.halo-home .bridge-con-wrap .home-left-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 252px;
}
.halo-home .bridge-con-wrap .home-left-img2 {
  position: absolute;
  bottom: -60px;
  right: 0;
  width: 126px;
  transform: rotate(180deg);
}
.halo-home .bridge-con {
  padding-top: 80px;
  width: 100%;
  margin: 0 auto;
}
.halo-home .bridge-con .click-btn {
  margin-top: 30px;
  width: 160px;
  height: 44px;
  background: #B1232C;
  border-radius: 4px;
  color: #fff;
  border: none;
}
.halo-home .bridge-con .bridge-hd {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.halo-home .bridge-con .bridge-hd .bridge-line {
  width: 90px;
  height: 6px;
  background: #2b2b2b;
}
.halo-home .bridge-con .bridge-hd .bridge-title {
  margin-top: 30px;
  height: 43px;
  font-size: 36px;
  font-weight: bold;
  line-height: 43px;
  color: #2b2b2b;
}
.halo-home .bridge-con .bridge-hd .bridge-text {
  margin-top: 20px;
  height: 66px;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
}
.halo-home .bridge-con .bridge-hd .introduce-text-red {
  font-weight: 600;
  color: #b1232c;
}
.halo-home .bridge-con .bridge-bt {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 44px;
}
.halo-home .bridge-con .bridge-bt .bg2-img {
  width: 960px;
}
.halo-home .bridge-con .bridge-bt .con-btn {
  margin-top: -22px;
}
.halo-home .down-wrap {
  margin-top: 120px;
  width: 100%;
  height: 370px;
  background-color: #fff6f7;
}
.halo-home .down-wrap .down-con {
  position: relative;
  display: flex;
  width: 100%;
  margin: 0 auto;
}
.halo-home .down-wrap .down-title {
  position: absolute;
  top: -20px;
  left: 0;
  font-size: 36px;
  font-weight: bold;
  color: #2b2b2b;
  line-height: 43px;
}
.halo-home .down-wrap .down-left {
  display: flex;
}
.halo-home .down-wrap .app-ex-img {
  margin-top: 50px;
  width: 200px;
  height: 320px;
}
.halo-home .down-wrap .down-left-sup {
  margin-top: 64px;
  margin-left: 41px;
}
.halo-home .down-wrap .mm-logo-img {
  width: 344px;
}
.halo-home .down-wrap .sup-text {
  margin-top: 18px;
  margin-bottom: 24px;
  font-size: 20px;
  font-weight: 600;
  color: #807677;
  line-height: 28px;
}
.halo-home .down-wrap .sup-app {
  display: flex;
  width: 160px;
  height: 44px;
  background: #161616;
  border-radius: 4px;
  color: #fff;
}
.halo-home .down-wrap .down-img {
  width: 160px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.halo-home .down-wrap .down-line {
  margin: 40px 0;
  margin-left: 66px;
  width: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.halo-home .down-wrap .down-line-l {
  width: 2px;
  height: 110px;
  background: rgba(216, 216, 216, 0.5);
}
.halo-home .down-wrap .down-line-t {
  font-size: 30px;
  font-weight: bold;
  color: #aaa;
  line-height: 36px;
}
.halo-home .down-wrap .down-right {
  margin-left: 62px;
}
.halo-home .down-wrap .hashpay-img {
  width: 459px;
}
@media screen and (min-width: 300px) and (max-width: 768px) {
  .halo-home {
    padding: 0;
  }
  .halo-home .guide-con {
    flex-wrap: wrap;
    height: 100%;
    flex-direction: column;
    border-radius: 0;
  }
  .halo-home .guide-con .guide-card.guide-card2 {
    width: 100%;
  }
  .halo-home .guide-con .guide-card.guide-card2 .click-btn {
    width: 5.2rem;
    height: 1.6rem;
    background: #B1232C;
    border-radius: 0.16rem;
    font-size: 0.64rem;
  }
  .halo-home .guide-con .guide-card.guide-card2 .click-btn2 {
    width: 5.2rem;
    height: 1.6rem;
    border-radius: 0.16rem;
    opacity: 0.1;
    font-size: 0.64rem;
    color: rgba(255, 255, 255);
  }
  .halo-home .guide-con .guide-card .guide-title2 {
    font-size: 0.72rem;
    font-weight: bold;
    line-height: 1rem;
  }
  .halo-home .guide-con .guide-card .guide-title {
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.44rem;
    margin-bottom: 0.48rem;
  }
  .halo-home .guide-con .guide-card .guide-text {
    font-size: 0.64rem;
    font-weight: 400;
    line-height: 0.88rem;
  }
  .halo-home .guide-con .guide-card .guide-text2,
  .halo-home .guide-con .guide-card .guide-text3 {
    font-size: 0.64rem;
    font-weight: 600;
    line-height: 0.88rem;
  }
  .halo-home .section {
    position: relative;
  }
  .halo-home .home-con {
    padding: 0 0.8rem;
  }
  .halo-home .m_bg_2 {
    position: fixed;
    top: 0;
    right: 0;
  }
  .halo-home .m_bg_1 {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .halo-home .m_bg_system {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 99;
  }
  .halo-home .introduce-con .introduce-word {
    padding-top: 4.66rem;
  }
  .halo-home .introduce-con .introduce-word .introduce-title {
    font-size: 1.12rem;
    color: #2B2B2B;
    line-height: 1.36rem;
    margin-bottom: 0.8rem;
  }
  .halo-home .introduce-con .introduce-word .midline {
    width: 3.6rem;
    height: 0.16rem;
    background: #2B2B2B;
  }
  .halo-home .introduce-con .introduce-word .introduce-text {
    font-size: 0.64rem;
    color: #807677;
    line-height: 0.88rem;
    margin-top: 0.93rem;
  }
}
