.halo-header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  z-index: 999;
}
.halo-header .ant-btn-primary {
  width: 160px;
  height: 44px;
  border-radius: 4px;
}
.halo-header .home-hd {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  background: rgba(255, 255, 255, 0.9);
  z-index: 1;
}
.halo-header .logo-img {
  width: 170px;
  margin-left: 60px;
  cursor: pointer;
}
.halo-header .navbar {
  height: 68px;
  line-height: 68px;
  background: none !important;
  color: #2b2b2b !important;
}
.halo-header .navbar .nav-item {
  font-size: 16px;
  font-weight: 700;
  color: #2b2b2b;
  background: none;
  height: 100%;
  line-height: 68px;
}
.halo-header .navbar .nav-item:hover {
  color: #2b2b2b !important;
  background: rgba(255, 255, 255, 0.5) !important;
}
.halo-header .navbar .nav-item:hover .ant-menu-submenu-title {
  color: #2b2b2b !important;
}
.halo-header .navbar .ant-menu-item {
  font-size: 16px;
  font-weight: 700;
  color: #2b2b2b;
  background: none;
}
.halo-header .navbar .ant-menu-item:hover {
  color: #2b2b2b !important;
  background: rgba(255, 255, 255, 0.5) !important;
}
.halo-header .navbar .ant-menu-item-selected {
  color: #2b2b2b !important;
  background: rgba(255, 255, 255, 0.5) !important;
}
.halo-header .navbar .nav-link {
  padding-top: 0;
  padding-bottom: 0;
}
@media screen and (min-width: 1440px) {
  .halo-header .bg1-img {
    position: absolute;
    top: 0;
    right: 0;
  }
}
.ant-menu-sub {
  background: rgba(255, 255, 255, 0.5) !important;
}
.menu-item-sub {
  font-weight: 700;
}
.menu-item-sub.ant-menu-item-selected {
  color: #2b2b2b !important;
  background: none !important;
}
.menu-item-sub.ant-menu-item-only-child {
  color: #2b2b2b !important;
  background: none !important;
}
.menu-item-sub.ant-menu-item-only-child:hover {
  color: #2b2b2b !important;
  background: none !important;
}
@media screen and (min-width: 300px) and (max-width: 768px) {
  .halo-header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    z-index: 999;
  }
  .halo-header .ant-btn-primary {
    width: 160px;
    height: 44px;
    border-radius: 4px;
  }
  .halo-header .home-hd {
    height: 2.84rem;
    background: none;
  }
  .halo-header .navbar {
    width: 0.8rem;
    height: 0.56rem;
  }
}
