.halo-header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  z-index: 999;
}
.halo-header .ant-btn-primary {
  width: 160px;
  height: 44px;
  border-radius: 4px;
}
.halo-header .home-hd {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  background: rgba(255, 255, 255, 0.9);
  z-index: 1;
}
.halo-header .logo-img {
  width: 170px;
  margin-left: 60px;
  cursor: pointer;
}
.halo-header .navbar {
  height: 68px;
  line-height: 68px;
  background: none !important;
  color: #2b2b2b !important;
  padding: 0;
}
.halo-header .navbar .nav-item {
  font-size: 16px;
  font-weight: 700;
  color: #2b2b2b;
  background: none;
  height: 100%;
  line-height: 68px;
}
.halo-header .navbar .nav-item:hover {
  color: #2b2b2b !important;
  background: rgba(255, 255, 255, 0.5) !important;
}
.halo-header .navbar .nav-item:hover .ant-menu-submenu-title {
  color: #2b2b2b !important;
}
.halo-header .navbar .ant-menu-item {
  font-size: 16px;
  font-weight: 700;
  color: #2b2b2b;
  background: none;
}
.halo-header .navbar .ant-menu-item:hover {
  color: #2b2b2b !important;
  background: rgba(255, 255, 255, 0.5) !important;
}
.halo-header .navbar .ant-menu-item-selected {
  color: #2b2b2b !important;
  background: rgba(255, 255, 255, 0.5) !important;
}
.halo-header .navbar .nav-link {
  padding: 0 20px;
}
@media screen and (min-width: 1440px) {
  .halo-header .bg1-img {
    position: absolute;
    top: 0;
    right: 0;
  }
}
.ant-menu-sub {
  background: rgba(255, 255, 255, 0.5) !important;
}
.menu-item-sub {
  font-weight: 700;
}
.menu-item-sub.ant-menu-item-selected {
  color: #2b2b2b !important;
  background: none !important;
}
.menu-item-sub.ant-menu-item-only-child {
  color: #2b2b2b !important;
  background: none !important;
}
.menu-item-sub.ant-menu-item-only-child:hover {
  color: #2b2b2b !important;
  background: none !important;
}
@media screen and (min-width: 300px) and (max-width: 768px) {
  .halo-header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    z-index: 999;
    height: unset;
  }
  .halo-header .logo-img {
    width: 3.44rem;
    height: 1.2rem;
    margin-top: 0.8rem;
    margin-left: 0.8rem;
  }
  .halo-header .ant-btn-primary {
    width: 160px;
    height: 44px;
    border-radius: 4px;
  }
  .halo-header .home-hd {
    height: 2.84rem;
    background: none;
  }
  .halo-header .navbar .navbar-toggler {
    padding: 0;
    border: none;
    margin-right: 0.8rem;
    position: fixed;
    top: 1.24rem;
    right: 0.8rem;
  }
  .halo-header .navbar .navbar-collapse {
    padding: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4) !important;
  }
  .halo-header .navbar .navbar-nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 7.08rem;
    height: 100vh;
    background: #FFF6F7;
    padding: 1.2rem 0.8rem;
  }
  .halo-header .navbar .navbar-nav .back {
    position: absolute;
    bottom: 0;
    left: 0.8rem;
    font-size: 0.64rem;
    font-weight: bold;
    color: #B1232C;
    line-height: 0.76rem;
  }
  .halo-header .navbar .navbar-nav .dropdown-menu {
    border: none;
    background: #FFF6F7;
    padding: 0.6rem 0 0rem;
  }
  .halo-header .navbar .navbar-nav .dropdown-menu .dropdown-item {
    padding: 0;
    padding-left: 0.5rem;
  }
  .halo-header .navbar .navbar-nav .nav-item {
    height: unset;
    line-height: unset;
    margin-bottom: 1.2rem;
    background: #FFF6F7;
  }
  .halo-header .navbar .navbar-nav .nav-item .nav-link {
    font-size: 0.64rem;
    font-weight: bold;
    color: #2B2B2B;
    line-height: 0.76rem;
    background: #FFF6F7;
  }
}
/* 超小屏幕（手机，小于 768px） */
/* 没有任何媒体查询相关的代码，因为这在 Bootstrap 中是默认的（还记得 Bootstrap 是移动设备优先的吗？） */
@media (min-width: 300px) and (max-width: 768px) {
  .none {
    visibility: hidden;
  }
}
