.halo-footer {
    width: 100%;
    background-color: rgba(255, 253, 253, 1);

    .home-bt-con {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 1200px;
        height: 116px;
        margin: 0 auto;
    }

    .bt-text {
        font-size: 16px;
        font-weight: 400;
        color: #b5b5b5;
        line-height: 22px;
    }

    .jump-img {
        width: 36px;
        margin-left: 22px;
        cursor: pointer;
    }
}

/* 超小屏幕（手机，小于 768px） */
/* 没有任何媒体查询相关的代码，因为这在 Bootstrap 中是默认的（还记得 Bootstrap 是移动设备优先的吗？） */
// Small devices (landscape phones, 576px and up)
@media (min-width: 300px) and (max-width:768px) {

  }